@import url(https://fonts.googleapis.com/css?family=Open+Sans);

  .search {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .searchTerm {
    width: 50%;
    max-width: 50%;
    border: 3px solid #167380;
    border-right: none;
    padding: 6px;
    height: 23px;
    border-radius: 5px 0 0 5px;
    text-overflow: ellipsis;
    outline: none;
    color: #ef981c;
  }
  
  .searchTerm:focus{
    color: #5e4119;
    text-overflow: ellipsis;
  }
  
  .searchButton {
    width: 40px;
    height: 100%;
    border: 1px solid #105aa0;
    background:  #ef981c;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .searchButton:hover {
    width: 40px;
    height: 100%;
    border: 1px solid #105aa0;
    background: #dba613c7;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }