.mainContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 18px 0px;
    border-bottom: 2px solid grey;
    color: darkgray;
  }

  .userInfo {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0px 16px;
  }
  
  .actionDiv {
    text-align: center;
  }

  .label label{
    color: #bfc4c9 !important;
  }

  .label input{
    color: #bfc4c9 !important;
  }

  .label{
    pointer-events:none;
  }

  .edit {
    position:absolute;
    top: 7vw;
    left: 84vw;
  }